<nav class="navbar navbar-expand-lg navbar-dark bg-black text-white">
  <div class="collapse navbar-collapse justify-content-between" id="navbarTogglerDemo01">
     <span>
       <img class="image-header img-thumbnail" src="assets/marakhib.jpg" alt="">

     </span>
     <span>
       <h4>Cafe Touba Dialibatoul Marakhib</h4>
     </span>
     <span>
       <img class="image-header img-thumbnail" src="https://i.pinimg.com/originals/7d/4b/bf/7d4bbfabbc85fba28976039beaf9c004.gif" alt="">
     </span>
  </div>
</nav>
