<div class="main">
  <span class="align-content-center justify-content-center">
      <img id="shop" src="assets/shop.png" alt="" sizes="" srcset="">
  <p class="shop1 bg-white text-black d-flex align-content-center justify-content-center  ">0</p>

  </span>
  <div class="search-hero">
    <input class="form-control" type="text" name="search" autocomplete="off"
           placeholder="&#61442; chercher le café ou la poudre de café de votre choix">
  </div>
  <div class="d-flex justify-content-center bg-dark ">
    <h1 class="burg text-warning">cafe touba</h1>
  </div>
  <div class="d-flex">
    <div class="card img-thumbnail" style="width: 18rem;">
      <img class="card-img-top" src="https://i.pinimg.com/564x/9b/91/f1/9b91f129a3e4a4d9f9424831b9e73115.jpg" alt="Card image cap" width="400" height="350" loading="eager">
      <div class="card-body">

        <div class="boutton m-3">
          <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Prix:2000</button>
          <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Detail</button>
        </div>

        <a href="#" class="btn btn-warning w-100">Ajouter au panier</a>
      </div>
    </div>
    <div class="card img-thumbnail" style="width: 18rem;">
      <img class="card-img-top" src="https://i.pinimg.com/564x/89/d0/2a/89d02a326dba2e2aab84c88bdca00bff.jpg" alt="Card image cap" width="400" height="350" loading="eager">
      <div class="card-body">

        <div class="boutton m-3">
          <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Prix:2000</button>
          <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Detail</button>
        </div>

        <a href="#" class="btn btn-warning w-100">Ajouter au panier</a>
      </div>
    </div>
    <div class="card img-thumbnail" style="width: 18rem;">
      <img class="card-img-top" src="https://i.pinimg.com/564x/b4/cd/5c/b4cd5c6f4da92a15fb87b507ab68bcdf.jpg" alt="Card image cap" width="400" height="350" loading="eager">
      <div class="card-body">

        <div class="boutton m-3">
          <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Prix:2000</button>
          <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Detail</button>
        </div>

        <a href="#" class="btn btn-warning w-100">Ajouter au panier</a>
      </div>
    </div>
    <div class="card img-thumbnail" style="width: 18rem;">
      <img class="card-img-top" src="https://i.pinimg.com/564x/65/75/22/65752220d220a1d8bf8e70a47238e350.jpg" alt="Card image cap" width="400" height="350" loading="eager">
      <div class="card-body">

        <div class="boutton m-3">
          <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Prix:2000</button>
          <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Detail</button>
        </div>

        <a href="#" class="btn btn-warning w-100">Ajouter au panier</a>
      </div>
    </div>






    <div class="card img-thumbnail" style="width: 18rem;">
      <img class="card-img-top" src="https://i.pinimg.com/564x/08/e7/95/08e795f743468245772ab3a0bb23d845.jpg" alt="Card image cap" width="400" height="350" loading="eager">
      <div class="card-body">

        <div class="boutton m-3">
          <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Prix:2000</button>
          <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Detail</button>
        </div>

        <a href="#" class="btn btn-warning w-100">Ajouter au panier</a>
      </div>
    </div>
      <div class="card img-thumbnail" style="width: 18rem;">
        <img class="card-img-top" src="https://i.pinimg.com/564x/8e/6a/e7/8e6ae783964a2fa00030ec2b4f4987b2.jpg" alt="Card image cap" width="400" height="350" loading="eager">
        <div class="card-body">

          <div class="boutton m-3">
            <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Prix:2000</button>
            <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Detail</button>
          </div>

          <a href="#" class="btn btn-warning w-100">Ajouter au panier</a>
        </div>
        </div>
        <div class="card img-thumbnail" style="width: 18rem;">
          <img class="card-img-top" src="https://i.pinimg.com/564x/c2/c0/80/c2c08014f4e53e97d8e84e2b5bc9d941.jpg" alt="Card image cap" width="400" height="350" loading="eager">
          <div class="card-body">

            <div class="boutton m-3">
              <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Prix:2000</button>
              <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Detail</button>
            </div>

            <a href="#" class="btn btn-warning w-100">Ajouter au panier</a>
          </div>
        </div>
  </div>


  <div class="d-flex justify-content-center bg-dark mt-1">
    <h1 class="burg text-warning">cafe touba</h1>
  </div>

  <div class="d-flex img-thumbnail">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://i.pinimg.com/564x/d8/50/df/d850dfa1dc9a334d21293a5ebfbff447.jpg"
           alt="Card image cap" width="400" height="350" loading="eager">
      <div class="card-body">
        <div class="boutton m-3">
          <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Prix:100</button>
          <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark" [routerLink]="[]">Detail
          </button>
        </div>
        <a href="#" class="btn btn-warning w-100">Ajouter au panier</a>

      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://i.pinimg.com/564x/c2/ae/41/c2ae413534778d658842f6720ab10d9c.jpg"
           alt="Card image cap" width="400" height="350" loading="eager">
      <div class="card-body">
        <div class="boutton m-3">
          <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Prix:100</button>
          <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark" [routerLink]="[]">Detail
          </button>
        </div>
        <a href="#" class="btn btn-warning w-100">Ajouter au panier</a>

      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://i.pinimg.com/236x/a9/58/33/a9583378482eedd16ce4939a6adb679b.jpg"
           alt="Card image cap" width="400" height="350" loading="eager">
      <div class="card-body">
        <div class="boutton m-3">
          <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Prix:100</button>
          <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark" [routerLink]="[]">Detail
          </button>
        </div>
        <a href="#" class="btn btn-warning w-100">Ajouter au panier</a>

      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://i.pinimg.com/564x/40/c2/69/40c2695fa5935d351f6641c7cea39e8f.jpg"
           alt="Card image cap" width="400" height="350" loading="eager">
      <div class="card-body">
        <div class="boutton m-3">
          <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Prix:100</button>
          <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark" [routerLink]="[]">Detail
          </button>
        </div>
        <a href="#" class="btn btn-warning w-100">Ajouter au panier</a>

      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://i.pinimg.com/564x/f8/9e/13/f89e1393409533bd0ea3664e173a0845.jpg"
           alt="Card image cap" width="400" height="350" loading="eager">
      <div class="card-body">
        <div class="boutton m-3">
          <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Prix:100</button>
          <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark" [routerLink]="[]">Detail
          </button>
        </div>
        <a href="#" class="btn btn-warning w-100">Ajouter au panier</a>

      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://i.pinimg.com/564x/54/20/0f/54200fa087baa642721fedce9629516f.jpg"
           alt="Card image cap" width="400" height="350" loading="eager">
      <div class="card-body">
        <div class="boutton m-3">
          <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Prix:100</button>
          <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark" [routerLink]="[]">Detail
          </button>
        </div>
        <a href="#" class="btn btn-warning w-100">Ajouter au panier</a>

      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://i.pinimg.com/564x/3b/a6/43/3ba6432b88dd342d08c73405dccc2767.jpg"
           alt="Card image cap" width="400" height="350" loading="eager">
      <div class="card-body">
        <div class="boutton m-3">
          <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Prix:100</button>
          <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark" [routerLink]="[]">Detail
          </button>
        </div>
        <a href="#" class="btn btn-warning w-100">Ajouter au panier</a>

      </div>
    </div>
  </div>


</div>
